<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/imagens/png/required-mask.png"
          alt="ico obrigatório"
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/imagens/png/recommended-mask.png"
          alt="ico recomendado"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/imagens/png/required-towel.png"
          alt="ico obrigatório"
        />
        <p>Obrigatório</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/imagens/png/recommended-towel.png"
          alt="ico recomendado"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/imagens/png/partial-fountain.png"
          alt="ico obrigatório"
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/imagens/png/not_allowed-fountain.png"
          alt="ico recomendado"
        />
        <p>Proibido</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Vestiário</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="/assets/imagens/png/allowed-lockerroom.png"
          alt="ico liberado banheiro"
        />
        <p>Liberado</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/imagens/png/partial-lockerroom.png"
          alt="ico parcial banheiro"
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="/assets/imagens/png/closed-lockerroom.png"
          alt="ico banheiro fechado"
        />
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
